@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}

<!--
<center>
    <div class="fb-page" data-href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/">Adelante Hispanic Achievers</a></blockquote></div>
</center>
}-->
<div class="divider-new">
    <h1 class="h1-responsive">Our History and Mission</h1>
</div>
<div class="row">
        <p>
            Our Louisville community has seen a 122% increase in the Hispanic/Latino population
            over the last decade, and its numbers continue to grow. This diverse Hispanic population
            contributes to an ever evolving, multi-cultural Louisville, significantly impacting our
            future as a community. As the number of Hispanics entering the workforce and attending
            public schools grows, we must consider the unique challenges the Hispanic population is facing.
        </p>
        <p>
            Adelante Hispanic Achievers was created to address such challenges in our city by
            empowering Louisville’s Hispanic youth and helping them succeed in four critical area
            of development: personal, social, cultural, and educational. Adelante was founded in
            January 2004 by former JCPS school board chair Stephen Imhoff and a core of community
            leaders who shared the belief that with support and resources, Louisville’s Hispanic
            students and their families can have a bright future. Adelante’s mission is to inspire
            Hispanic/Latino youth and families to achieve their dreams and contribute as creative
            and educated world citizens.
        </p>
    </div>
<div class="divider-new">
    <h2 class="h2-responsive">Awards</h2>
</div>
<div class="row">
    <div class="col-md-6 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Governance.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">Pyramid Art of Excellence in Governance</h3>
                <p>2012 Award Winner</p>
                <!-- card text -->
            </div>
        </div>
    </div>
    <div class="col-md-6 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/CNPE_Logo_2.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">Center for Non-Profit Excellence</h3>
                <p>2012 Award Recipient</p>
                <!-- card text -->
            </div>
        </div>
    </div>
</div>
<div class="divider-new">
    <h2 class="h2-responsive">Our Employees & Boards</h2>
</div>
    <div class="row">
        <div class="col-md-6">
            <center>
                <h3>Board of Directors</h3>
                <p><b>Armando Unzueta</b>, Chair, Manager, Aircraft Maintenance , UPS Airlines</p>
                <p><b>Stephen P. Imhoff, Esq.</b>, Immediate Past Chair, Attorney-at-Law</p>
                <p><b>Gina Buendia- Cruz</b>, Vice Chair, Quality Control, General Electric</p>
                <p><b>Guy Gomez</b>, Treasurer, Owner/Operator, McDonald’s Restaurant</p>
                <p><b>Irina McGarth</b>, Secretary, ESL Middle School Resource Teacher</p>
            </center>
        </div>
        <div class="col-md-6" >
            <p> </p>
            <center>
                <h3>Staff</h3>
                <p><b>Mara Maldonado</b>, Director</p>
                <p> </p>

                <p><b>Dustin Bishop</b>, Volunteer/Program Operations and Development</p>
                <p> </p>

                <p><b>Morgan Gerke</b>, Americops VISTA, College Readiness Coach</p>
                <p> </p>

                <p><b>Carol Fields</b>, Education Events Coordinator</p>
            </center>
        </div>
    </div>
<div class="row">
    <div class="col-md-6">
        <center>
            <h3>Advisory Board</h3>
            <p><b>Saul Garcia</b>, Owner, Los Aztecas Restaurants</p>
            <p><b>Ellie Kerstetter</b>, Attorney-at-Law</p>
            <p><b>Miguel Lagunas</b>, Engineer, LG&E (Retired)</p>
            <p><b>Jessica Ann Luetzow</b>, Director, Women Who Write</p>
            <p><b>Abraham Solano</b>,  Pupil Personnel Department / Jefferson County Public Schools</p>
        </center>
    </div>
    <div class="col-md-6">
        <center>
            <h3>Members</h3>
            <p><b>Roland Balahnik</b>, President Emeritus, Goodwill Industries of Kentucky, Inc.</p>
            <p><b>Jose Neil Donis</b>, Editor\Publisher, “Al Día en America”</p>
            <p><b>Sandro L. Fajardo</b>, Vice President – Treasury Management/Republic Bank & Trust</p>
            <p><b>Ben Ruiz</b>, Creative Director & CEO Adhawks Advertising & Public Relations, Inc.</p>
            <p><b>Sonia Ruiz</b>, CFO, Adhawks Advertising & Public Relations, Inc. </p>
            <p><b>Kim Huston</b>, Traffic and Delivery Manager, Humana</p>
        </center>
    </div></div>
<hr/>
<div class="row">
    <div class="blockquote bq-primary">
        <p class="bq-title">-Sabrina Lloret, Student</p>
        <p>“In Adelante everyone has a dream, everyone speaks the same language, and everyone is FAMILY”</p>
    </div>
    <div class="blockquote bq-primary">
        <p class="bq-title">-Stephen Imhoff, Adelante Founder, Immediate Past President and former Board Chairman of
        Jefferson County Board of Education</p>
        <p>“Our goal is to guide our students and support their desire, hope, and ambition to be productive citizens in
        our community.”</p>
    </div>
</div>
@section pageMask
{
    <div class="row">
        <div class="jumbotron text-center wow fadeIn">
            <h2 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">About Us</h2>

            <hr />
            <a target="_blank" href="~/Files/Annual%20report%202015-2016%20.pdf" class="btn btn-danger btn-lg wow fadeInLeft" data-wow-delay="0.2s">Annual Report</a>
            <a target="_blank" href="~/Files/2014 990 Adelante Hispanic Achievers.pdf" class="btn btn-default btn-lg wow fadeInRight" data-wow-delay="0.2s">990 Tax Exemption Form</a>
        </div>
    </div>
}