
@{
    ViewBag.Title = "Bellarmine Academy Martes ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header><h1>@ViewBag.Title</h1></header>
<body>
    <h3>
        Bellarmine Academy Martes  Program information here.
    </h3>
    <br /><br /><br /><br />
    <h4 style="text-align:left">Also Check Out:</h4>
    <a href="~/Home/MentoringEnrichment" style="text-align:left">Mentoring & Enrichment</a><br /><br />
    <a href="~/Home/CollegeReadiness" style="text-align:left">College Readiness</a><br /><br />
    <a href="~/Home/AST" style="text-align:left">After School Tutoring</a><br /><br />
    <a href="~/Home/ParentInvolvement" style="text-align:left">Parent Involvement</a><br /><br />
    <a href="~/Home/Ambassadors" style="text-align:left">Adelante Ambassadors</a><br /><br />
    <a href="~/Home/TJXScholarship" style="text-align:left">TJX/Bick Hile Scholarship Program</a><br /><br />
    <a href="~/Home/BAM" style="text-align:left">Bellarmine Academy Martes (BAM)</a><br /><br />

</body>


