
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>Embedded Google Calendar Test Page</h2>
    <div class="responsiveCal">
    <iframe src="https://calendar.google.com/calendar/embed?src=it9ehtencu2plj5bfidv781vog%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div>
