
@{
    ViewBag.Title = "College Readiness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header><h1>College Readiness</h1></header>
<body>
    <h3>
        Plan for Fall 2016 and beyond: All Achievers sophomore level and above who participate in our Mentoring & Enrichment program are registered for our CR program. Students must commit to pursuing academic growth and attending 
        CR events organized by the College Readiness Coach (CRC). Each student will have access to ACT prep. Each student will also be paired with a College Access Mentor, who is responsible for keeping in touch with that student on a 
        weekly basis, helping with any college-related questions, ensuring that they understand what they must accomplish at each grade level to be “prepared” for college, and building personal relationships. Mentors and students together 
        will develop and accomplish a list of goals and tasks that will keep them “college-ready” at their particular age level. The mentors will assist the students as needed and provide Adelante staff with periodic updates, supporting each 
        student’s effort to take an active role in his or her own future and success.
    </h3> <br/>
<hr /><br />
    <h1>College Corps</h1>
    <h3>
        College Corps (CC): The CR program is also open to any Hispanic student who attends school in Jefferson County at the sophomore level or above, and who registers with our College Readiness Coach (CRC). 
        Students who participate in the CR program but are not in M&E are considered part of our “College Corps.” These students do not receive “wrap-around” services, and may be asked to pay to participate in ACT prep. 
        All other CR programs are open to them for free. College Corps students in good standing may reserve a spot in M&E for the following academic year. (Students who apply to be in M&E but are denied because we’ve reached the 
        population limit may also be in the College Corps)
    </h3>

    <br /><br /><br /><br />
    <h4 style="text-align:left">Also Check Out:</h4>
    <a href="~/Home/MentoringEnrichment" style="text-align:left">Mentoring & Enrichment</a><br /><br />
    <a href="~/Home/CollegeReadiness" style="text-align:left">College Readiness</a><br /><br />
    <a href="~/Home/AST" style="text-align:left">After School Tutoring</a><br /><br />
    <a href="~/Home/ParentInvolvement" style="text-align:left">Parent Involvement</a><br /><br />
    <a href="~/Home/Ambassadors" style="text-align:left">Adelante Ambassadors</a><br /><br />
    <a href="~/Home/TJXScholarship" style="text-align:left">TJX/Bick Hile Scholarship Program</a><br /><br />
    <a href="~/Home/BAM" style="text-align:left">Bellarmine Academy Martes (BAM)</a><br /><br />
</body>

