@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}


@section pageMask
{
    <div class="row">
        <div class="jumbotron text-center wow fadeIn">
            <h2 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Error :(</h2>
            <p class="wow fadeInDownBig">That's our fault. Your email could not be sent due to an error.</p>
            <hr />
            <a href="../../" class="btn btn-success btn-lg wow fadeInLeft" data-wow-delay="0.2s">Return Home</a>
        </div>
    </div>
}