@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Get Involved";
}
<!--TODO-->
<!--Panels-->
<!--pics for sponsors-->
<!--rearrange pics (another carousel)-->
<div class="row">
    <center>
        <div class="col-md-4">
            <img src="~/Images/GI_1.jpg" height="250" />
        </div>
        <div class="col-md-4">
            <img src="~/Images/GI_2.jpg" height="250" />
        </div>
        <div class="col-md-4">
            <img src="~/Images/GI_3.jpg" height="250" />
        </div>
    </center>
</div>

<div class="row">
    <div class="col-md-6">
        <h1><b>Volunteer Information</b></h1>
        <h3>
            Who are our mentors, tutors and presenters?
        </h3>
        <p>They are caring, energetic, and enthusiastic community members of all professions (including students!) who enjoy working with teens and can commit to volunteer for a full season.</p>
        <p>Contact Dustin Bishop,  Volunteer Coordinator at (231) 649-1652 or at dustinjbishop@gmail.com to volunteer.</p>
        <hr />
        <h4>
            AmeriCorps!
        </h4>
        <p>Thanks to the CNCS AmeriCorps Program, Adelante has the support of an AmeriCorps VISTA member for a full year of service from August-August each year.  Please apply online to:   Corporation for National and Community Service (see ‘AmeriCorps VISTA, advanced search” for criteria and online application.</p>

    </div>
    <div class="col-md-6">
        <div class="scheduler_container"></div>       
    </div>
</div>