@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Get Involved";
}
<!--TODO-->
<!--Panels-->
<!--pics for sponsors-->
<!--rearrange pics (another carousel)-->


   <!--Image cards for volunteers-->
<div class="row">
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/GI_1.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">Impact</h3>
                <!-- card text -->
                <p>Volunteering for Adelante helps enrich the lives of 135 students and their families.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/GI_3.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">Internships</h3>
                <!-- card text -->
                <p>Opportunities are available through UofL LALS and Bellarmine School of Education.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/GI_2.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">

                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">College Readiness</h3>
                <!-- card text -->
                <p>A great way for people with less flexible schedules to help prepare students in math & science.</p>
            </div>
        </div>
    </div>
</div>
<div class="divider-new">
    <h2 class="h2-responsive">How do Volunteers help?</h2>
</div>
<div class="row">
    <p>Volunteers lead Saturday presentations & field trips, facilitate discussions & activities, as well as with chaperoning and general supervision of events. In addition, they also regularly assist our students with after-school tutoring, and in general act as positive role models and mentors.</p>
</div>
<div class="divider-new">
    <h2 class="h2-responsive">Americorps Vista</h2>
</div>
<div class="row">
    <div class="jumbotron text-center wow fadeIn">
        <h3 class="h3-responsive wow fadeInDown" data-wow-delay="0.2s">Vista Placement</h3>
        <p class="wow fadeInDownBig">Thanks to the CNCS AmeriCorps Program, Adelante has the support of an AmeriCorps VISTA member for a full year of service from August-August each year.</p>
        <hr />
        <p class="wow fadeInDownBig"> If you would like to apply, you may do so here:</p>
        <a target="_blank" href="https://www.vistacampus.gov/how-apply-americorps-vista" class="btn btn-primary btn-lg wow fadeInRight" data-wow-delay="0.2s">More Information</a>
        <a target="_blank" href="https://my.americorps.gov/mp/login.do" class="btn btn-secondary btn-lg wow fadeInRight" data-wow-delay="0.2s">Join VISTA</a>
    </div>
</div>

@section pageMask
{

    <div class="row">
        <div class="jumbotron text-center wow fadeIn">
            <h2 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Get Involved</h2>
            <p class="wow fadeInDownBig">Our role models are caring, energetic, and enthusiastic community members of all professions (including students!) who enjoy working with teens and can commit to volunteer for a full season.</p>
            <hr />
            <p class="wow fadeInDownBig">Contact Dustin Bishop, Volunteer Coordinator, to volunteer.</p>
            <a target="_blank" href="~/Views/Home/Contact.cshtml" class="btn btn-secondary btn-lg wow fadeInRight" data-wow-delay="0.2s">Contact</a>
        </div>

    </div><br/><br/>
}`