@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Get Involved";
}
<!--TODO-->
<!--Panels-->
<!--pics for sponsors-->
<!--rearrange pics (another carousel)-->
<div class="row">
    <center>
        <div class="col-md-4">
            <img src="~/Images/GI_1.jpg" height="250" />
        </div>
        <div class="col-md-4">
            <img src="~/Images/GI_2.jpg" height="250" />
        </div>
        <div class="col-md-4">
            <img src="~/Images/GI_3.jpg" height="250" />
        </div>
    </center>
</div>
<center><h1>Want to Get Involved?</h1></center>
<center><h2>Join us and help Latino youth achieve their dreams! </h2></center>

<div class="row">
    <div class="col-md-4">
        <h3>
            Who are our mentors, tutors and presenters?
        </h3>
        <p>They are caring, energetic, and enthusiastic community members of all professions (including students!) who enjoy working with teens and can commit to volunteer for a full season. Contact Dustin Bishop,  Volunteer Coordinator (231) 649-1652 dustinjbishop@gmail.com to volunteer.</p>
    </div>
    <div class="col-md-4">
        <h3>
            AmeriCorps!
             
        </h3>
        <p>Thanks to the CNCS AmeriCorps Program, Adelante has the support of an AmeriCorps VISTA member for a full year of service from August-August each year.  Please apply online to:   Corporation for National and Community Service (see ‘AmeriCorps VISTA, advanced search” for criteria and online application.</p>
    </div>
    <div class="col-md-4">
        <h3>
            Become a Sponsor!
             
        </h3>
        <p>Adelante operates thanks to our sponsors and volunteers. Adelante is a 501 (c) 3 and your tax deductible donation will help provide 135 students and families with Mentoring & Enrichment, Tutoring and Homework Help, and College Readiness.</p>
    </div>
</div>

<div class="col">
    <h2>Adelante proudly acknowledges these sponsors for providing volunteers:</h2>
    <center>
        <div class="col-md-12">
            <h2><a href="www.louisville.edu">University of Louisville</a></h2>
            <h2><a href="http://www.bellarmine.edu/">Bellarmine University</a></h2>
            <h2><a href="https://www.shslou.org/index.cfm">Sacred Heart Academy</a></h2>
            <h2><a href="http://www.saintx.com/">Saint Xavier High School</a></h2>
            <h2><a href="http://www.dupontmanual.com/">DuPont Manual High School</a></h2>
        </div>
    </center>
</div>
