@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://adelanteky.org/Adelante_Hispanic_Achievers/Home_files/IMG_1152.jpg" alt="UofL Visit" height="1080" width="768">
                <div class="carousel-caption">
                    <p> Adelante Students Visit the University of Louisville Dental School</p>
                </div>
            </div>

            <div class="item">
                <img src="http://adelanteky.org/Adelante_Hispanic_Achievers/Programs_files/IMG_0883.jpg" alt="pic2" height="1080" width="768">
                <div class="carousel-caption">
                    <p>
                        Fun is one of the best ways to engage and enrich our Hispanic youth. Our programming and activities are all designed around this concept and provide personal, social, cultural, and educational development.
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="http://adelanteky.org/Adelante_Hispanic_Achievers/Programs_files/IMG_0897.jpg" alt="pic3" height="1080" width="768">
                <div class="carousel-caption">
                </div>
            </div>

            <div class="item">
                <img src="http://adelanteky.org/Adelante_Hispanic_Achievers/Programs_files/Gene%20Weiss.jpg" alt="pic4" height="1080" width="768">
                <div class="carousel-caption">
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Our Goals:</h2>
        <p> Encourage youth to set and meet high personal, educational, and career goals </p>
        <p> Help Hispanic parents enjoy an active and informed role in the children’s education </p>
        <p> Connect Hispanic youth and their families with community resources to facilitate their participation in U.S. society </p>
        <p> Provide Hispanic youth and their families with opportunities for civic involvement and invite them to serve as cultural ambassadors </p>
    </div>
    <div class="col-md-6">
        <h2>Our Programs:</h2>
        <p> Mentoring & Enrichment </p>
        <p> College Readiness </p>
        <p> After School Tutoring </p>
        <p> Parent Engagement </p>
        <p> Ambassadors Leadership Program </p>
        <p> TJX/Bick Hile Scholarship Program </p>
        <p> Intensive Learning Programs </p>
        <p> La Poderosa Student of the Month </p>
    </div>
</div>

@section partyBox1 {

    <p>
        “In Adelante everyone has a dream, everyone speaks the same language, and everyone is FAMILY” - Sabrina Lloret
    </p>
}

@section partyBox2
{
    <div class="fb-page" data-href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/">Adelante Hispanic Achievers</a></blockquote></div>
}