@{
    //Jason Chandler
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programs";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Students & Parents";
}
<!--TODO-->
<!--Panels-->
<header>
    <div class="jumbotron">
      <center><h1>
            <img src="../Images/program.png" style="height:auto; width:500px;" />
        </h1></center>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>


            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <center><img src="~/Images/1.jpg" alt="one" style="height:300px"></center>
                </div>

                <div class="item">
                    <center><img src="~/Images/2.jpg" alt="two" style="height:300px"></center>
                </div>

                <div class="item">
                    <center><img src="~/Images/6.jpg" alt="three" style="height:300px"></center>
                </div>

                <div class="item">
                    <center><img src="~/Images/4.jpg" alt="four" style="height:300px"></center>
                </div>

                <div class="item">
                    <center><img src="~/Images/SP_5.jpg" alt="five" style="height:300px"></center>
                </div>

                <div class="item">
                    <center><img src="~/Images/6.jpg" alt="six" style="height:300px"></center>
                </div>

                <!--Left and Right Controls-->

            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</header>
<body>
    <div class="row">
        <div class="col-md-6">
            <h2>History and Programs</h2>
            <p>
                Adelante Hispanic Achievers was created to address the challenges facing Louisville’s Hispanic youth and help them succeed in four critical areas: personal,
                social, cultural, and educational. Adelante is a volunteer-based, non-profit, 501(C)3 organization that was founded in January 2004 by former JCPS school board
                chair Stephen Imhoff and a core of community leaders who shared the belief that with support and resources, Louisville’s Hispanic students and their families could
                have a bright future. It is the only organization in Jefferson County chartered to provide educational resources to Latino youth. Adelante serves 145 students and
                their families per year, won the 2012 CNPE Pyramid Award for Excellence in Governance, and became a national Bright Spot in Hispanic Education in 2015.
                <br /><br />
                Adelante operates with two full time staff and a volunteer base with expertise in science, medicine, engineering, law, and education. Our partners provide tutoring,
                mentoring, career exposure, college prep, data collection, accounting, and marketing. We have graduated five cohorts of students, all of whom attend the college of
                his or her choice with scholarships. Our programs are provided free of charge.
            </p>
        </div>
        <div class="col-md-3">
            <h2>Our Programs:</h2>
            <p>
                1.	<a href="~/Home/MentoringEnrichment">Mentoring & Enrichment</a><br /><br />
                2.	<a href="~Home/CollegeReadiness">College Readiness</a><br /><br />
                3.	<a href="~Home/AST">After School Tutoring</a><br /><br />
                4.	<a href="~Home/ParentInvolvement">Parent Involvement</a><br /><br />
                5.	<a href="~Home/Ambassadors">Adelante Ambassadors</a><br /><br />
                6.	<a href="~Home/TJXScholarship">TJX/Bick Hile Scholarship Program</a><br /><br />
                7.	<a href="~Home/BAM">Bellarmine Academy Martes (BAM)</a><br /><br />

            </p>
        </div>
        <div class="col-md-3">
            <center>
                <h2>Enrollment Forms</h2><br /><br />
                <p style="text-align:center"><a class="btn btn-default" href="~/Files/Behavior%20contract%20%28english%29.doc">Behavior Contract</a></p> <br /><br />
                <p style="text-align:center"><a class="btn btn-default" href="/Files/Behavior%20contract%20%28spanish%29.doc">Behavior Contract (Espanol)</a></p><br /><br />
                <p style="text-align:center"><a class="btn btn-default" href="~/Files/Photo%20and%20Transportation%20Waiver.doc">Photo and Transportation Waiver</a></p>
            </center>
        </div>
        <br /><br /><hr />
    </div>
    <br /><br /><hr />
    <div class="row">
        <div class="col-mid-12">
            <h2>Criteria and Enrollment</h2><br /><br />
            <p>
                Adelante accepts Hispanic students who attend middle or high school in Jefferson County, KY and the surrounding area. Every student will be allowed to participate in
                Adelante Hispanic Achievers’ programs provided that they follow the attendance and behavior code agreements outlined in this manual, and agree to academic and personal
                growth. Parents are accountable for their child’s attendance and progress.
            </p>
        </div>
    </div>
</body>



<!--
    <p>
        To Join: Orientation/First Day for all students (new and continuing) 
        starts mid-September. Students register in person with parent/guardian 
        at Orientation and commit to weekly attendance.
        <br /><br />
        *New students who wish to join our Saturday program should contact us 
        to be interviewed between Aug. 19-21st.
    </p>
-->

<!--
    <p>
        Saturday Mentoring and Enrichment at Buechel United Methodist Church. Orientation/1st Day: Saturday, Sept 10th
        <br /><br />
        Wednesday After School Program at Thomas Jefferson Middle School. Orientation/1st Day: Wednesday, September 14th
        <br /><br />
        Thursday After School Program at Lassiter  Middle School. Orientation/1st Day: Thursday, September 15th
    </p>
-->