@{
    //Jason Chandler
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programs";
}

<div class="panel">
    <h1>Programs</h1>
    <h5 style="text-align: left">
        <b>1-Mentoring & Enrichment:</b> <br />
        Saturday presentations, workshops and field trips which provide academic support, life skills development, 
        community service, and career opportunities for students and families. Every Saturday at Buechel United Methodist Church/ 2817 Hikes Lane, Louisville, KY  40218.
        <a>Click for 2016 Calendar Saturday.</a>
        <br /><br />
        <b>2-After School Tutoring and Homework Help</b><br />
        Students improve academic standing through one-on-one tutoring, math challenges, and character development.  Your child must attend the school  to participate.
        Thomas Jefferson MS - every Wednesday from 2:20-5pm. <a>Click for Spring 16 TJ</a>
        Lassiter MS- every Thursday from 2:20-5pm. <a>Click for Spring 16 Lassiter</a>
        <br /><br />
        <b>3-College Readiness:</b> <br />
        Study skills, ACT preparation, shadowing opportunities, college visits and summer “bridge” programs. 
        We prepare students for college and careers through intensive individual and group support for juniors and seniors.
        <br /><br />
        <b>4-Ambassadors:</b> Elite leadership opportunity for students 2+ years in Adelante. <a>Click for Ambassador Guidelines</a>
        <br /><br />
        <b>5-TJX/Adelante Scholars:</b> Scholarship Program
        <br /><br />
        All programs include Parent Involvement: workshops, presentations, individual support 
    </h5>
</div>

<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Images/Programs/IMG_0883.jpg" alt="Group Picture" style="height:500px; width:850px;" />
                <div class="carousel-caption">
                    <p>
                        Fun is one of the best ways to engage and enrich our Hispanic youth. 
                        Our programming and activities are all designed around this concept and 
                        provide personal, social, cultural, and educational development.
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/Programs/Copy of IMG_0897.jpg" alt="Students at table" style="height:500px; width:850px;" />
            </div>

            <div class="item">
                <img src="~/Images/Programs/Gene Weiss.jpg" alt="Gene Weis talks with students" style="height:500px; width:850px;" />
                <div class="carousel-caption">
                    <p>
                        KHEAA Consultant Gene Weis talks with students about paying for college, 
                        completing their FAFSA’s, etc.
                    </p>
                </div>
            </div> 

            <div class="item">
                <img src="~/Images/Programs/Money Matters Luis.jpg" alt="Gene Weis talking with students" style="height:500px; width:850px;" />
            </div>
        </div>
    </div>
</div>

@section partyBox1
{
    <p>
        To Join: Orientation/First Day for all students (new and continuing) 
        starts mid-September. Students register in person with parent/guardian 
        at Orientation and commit to weekly attendance.
        <br /><br />
        *New students who wish to join our Saturday program should contact us 
        to be interviewed between Aug. 19-21st.
    </p>
}

@section partyBox2
{
    <p>
        Saturday Mentoring and Enrichment at Buechel United Methodist Church. Orientation/1st Day: Saturday, Sept 10th
        <br /><br />
        Wednesday After School Program at Thomas Jefferson Middle School. Orientation/1st Day: Wednesday, September 14th
        <br /><br />
        Thursday After School Program at Lassiter  Middle School. Orientation/1st Day: Thursday, September 15th
    </p>
    <center>
<div class="fb-page" data-href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/">Adelante Hispanic Achievers</a></blockquote></div>
    </center>
}