@{
    //Jason Chandler
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Programs";
}

<div class="panel">
    <h1>Programs</h1>
    <h5 style="text-align: left">
        <b>1-Mentoring & Enrichment:</b> <br />
        Saturday presentations, workshops and field trips which provide academic support, life skills development, 
        community service, and career opportunities for students and families. Every Saturday at Buechel United Methodist Church/ 2817 Hikes Lane, Louisville, KY  40218.
        <br />
        <a>Click for 2016 Calendar Saturday.</a>
        <br /><br />
        <b>2-After School Tutoring and Homework Help</b><br />
        Students improve academic standing through one-on-one tutoring, math challenges, and character development.  Your child must attend the school  to participate.
        <br />
        Thomas Jefferson MS - every Wednesday from 2:20-5pm. <a>Click for Spring 16 TJ</a>
        <br />
        Lassiter MS- every Thursday from 2:20-5pm. <a>Click for Spring 16 Lassiter</a>
        <br /><br />
        <b>3-College Readiness:</b> <br />
        Study skills, ACT preparation, shadowing opportunities, college visits and summer “bridge” programs. 
        We prepare students for college and careers through intensive individual and group support for juniors and seniors.
        <br /><br />
        <b>4-Ambassadors:</b> Elite leadership opportunity for students 2+ years in Adelante. <a>Click for Ambassador Guidelines</a>
        <br /><br />
        <b>5-TJX/Adelante Scholars:</b> Scholarship Program
        <br /><br />
        All programs include Parent Involvement: workshops, presentations, individual support 
    </h5>
</div>

<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Images/Programs/IMG_0883.jpg" alt="Group Picture" style="height:500px; width:850px;" />
                <div class="carousel-caption">
                    <p>
                        Fun is one of the best ways to engage and enrich our Hispanic youth. 
                        Our programming and activities are all designed around this concept and 
                        provide personal, social, cultural, and educational development.
                    </p>
                </div>
            </div>

            <div class="item">
                <img src="~/Images/Programs/Copy of IMG_0897.jpg" alt="Students at table" style="height:500px; width:850px;" />
            </div>

            <div class="item">
                <img src="~/Images/Programs/Gene Weiss.jpg" alt="Gene Weis talks with students" style="height:500px; width:850px;" />
                <div class="carousel-caption">
                    <p>
                        KHEAA Consultant Gene Weis talks with students about paying for college, 
                        completing their FAFSA’s, etc.
                    </p>
                </div>
            </div> 

            <div class="item">
                <img src="~/Images/Programs/Money Matters Luis.jpg" alt="Gene Weis talking with students" style="height:500px; width:850px;" />
            </div>
        </div>
    </div>
</div>

<div>
    <h2><b>Resources</b></h2>
    <br />
    <p style="font-size:large">Here are a few links to help you on your way through school (any grade!) to college and beyond!</p>

    <p>
        <b>Road to College</b><br />
        <a href="http://www.hsf.net/programs.aspx?id=506">Hispanic Scholarship Fund</a><br />
        <a href="http://secure.gohigherky.org/">Go Higher Kentucky</a><br />
        <a href="http://www.kentuckycan.org/">Kentucky College Access Network</a><br />
    </p>
    <br />
    <p>
        <b>Scholarship Resources</b><br />
        <a href="http://www.latinocollegedollars.org/">Latino College Dollars</a><br />
        <a href="http://www.getreadyforcollege.org/pdfGR/ScholarshipsUndocumented.pdf">Get Ready for College</a> (scholarships for undocumented students)<br />
        <a href="http://www.latinalista.net/palabrafinal/2007/02/scholarship_list_for_undocumented_studen.html">Latina Lista</a> (scholarships for undocumented students)<br />
        <a href="http://www.lfpl.org/teen/college.htm#scholarships">Louisville Free Public Library</a> (list of scholarship resources)<br />
        <a href="http://maldef.org/leadership/scholarships/">The Mexican American Legal Defense and Education Fund</a> (MALDEF)<br />
        <a href="http://www.kheaa.com/website/kheaa/kyschol?main=1">Kentucky Department of Education Scholarships</a><br />
    </p>
    <br />
    <p>
        <b>Information for Parents</b><br />
        <a href="http://www.hsf.net/programs.aspx?id=792">Hispanic Scholarship Fund</a><br />
    </p>
    <br />
    <p>
        <b>Information for 12th graders</b><br />
        <b>Check out the following links regarding Federal Student Aid:</b><br />
        <a href="http://www.fafsa.com/Forms/Ajax/FAFSA/fafsa-help.aspx?rf=0;pku3at=zg50002a">What is FAFSA?</a><br />
        <a href="http://www.fafsa.ed.gov/">Free Application for Federal Student Aid (FAFSA)</a><br />
    </p>
</div>

@section partyBox1
{
    <p style="font-size: large"><b>Adelante programs are free of charge to our students and their families.</b></p>
    <br />
    <p>
        "I really love Adelante and after I joined my grades went a LOT higher. I would LOVE to come back. Thanks for letting me join."
        <br />
        Gina , Thomas Jefferson MS 6 grader
        <br /><br />
        “We are very grateful for your help. this is the best program I have ever seen.”
        <br />
        Parent, Myers MS.
    </p>
}

@section partyBox2
{
    <p>
        To Join: Orientation/First Day for all students (new and continuing) 
        starts mid-September. Students register in person with parent/guardian 
        at Orientation and commit to weekly attendance.
        <br /><br />
        *New students who wish to join our Saturday program should contact us 
        to be interviewed between Aug. 19-21st.
    </p>
}

@section partyBox3
{
    <p>
        <b>Saturday Mentoring and Enrichment at Buechel United Methodist Church.</b>
        <br />
        Orientation/1st Day: Saturday, Sept 10th
        <br /><br />
        <b>Wednesday and Thursday After School Programs at Lassiter Middle School.</b>
        <br />
        Orientation/1st Day: Wednesday, September 14th and Thursday, September 15th
    </p>
    <center>
        <div class="fb-page" data-href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/Adelante-Hispanic-Achievers-164080746962301/">Adelante Hispanic Achievers</a>
            </blockquote>
        </div>
    </center>
}