@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Student Programs";
}
<!--TODO-->
<!--Panels-->
<body>
    <div class="divider-new">
        <h2 class="h2-responsive">Program Backround</h2>
    </div>    
        <div class="row">
                <p>
                    Adelante Hispanic Achievers was created to address the challenges facing Louisville’s Hispanic youth and help them succeed in four critical areas: personal, 
                    social, cultural, and educational. Adelante is a volunteer-based, non-profit, 501(C)3 organization that was founded in January 2004 by former JCPS school board 
                    chair Stephen Imhoff and a core of community leaders who shared the belief that with support and resources, Louisville’s Hispanic students and their families could 
                    have a bright future. It is the only organization in Jefferson County chartered to provide educational resources to Latino youth. Adelante serves 145 students and 
                    their families per year, won the 2012 CNPE Pyramid Award for Excellence in Governance, and became a national Bright Spot in Hispanic Education in 2015.
                    <br /><br />
                    Adelante operates with two full time staff and a volunteer base with expertise in science, medicine, engineering, law, and education. Our partners provide tutoring, 
                    mentoring, career exposure, college prep, data collection, accounting, and marketing. We have graduated five cohorts of students, all of whom attend the college of 
                    his or her choice with scholarships. Our programs are provided free of charge.
                </p>
            </div>
    <div class="divider-new">
        <h2 class="h2-responsive">Programs</h2>
    </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <!--Overlay Card-->
                        <!--Make fade over-->
                        <div class="view overlay hm-black-strong">
                            <!-- Card header-->
                            <img class="img-fluid" src="~/Images/SP_5.jpg" />
                            <!--Mouseover Mask Content-->
                            <div class="mask flex-center waves-effect waves-light">
                                <ul>
                                    <li>
                                        <p class="wow fadeInUp white-text">Enrollment Cap: 65, priority given to returning students, special consideration for siblings of current students. Must join in middle school, attend orientation, and commit to regular attendance. Other students may join on an individual basis with staff consensus.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Card Content-->
                        <div class="card-block">
                            <!-- Title-->
                            <h3 class="card-title">Mentoring & Enrichment</h3>
                            <!-- card text -->
                        </div>
                    </div>
                </div><div class="col-md-6">
                          <div class="card">
                              <!--Overlay Card-->
                              <!--Make fade over-->
                              <div class="view overlay hm-black-strong">
                                  <!-- Card header-->
                                  <img class="img-fluid" src="~/Images/Programs/Money Matters Luis.jpg" />
                                  <!--Mouseover Mask Content-->
                                  <div class="mask flex-center waves-effect waves-light">
                                      <ul>
                                          <li>
                                              <p class="wow fadeInUp white-text">2016 & Beyond: All currently enrolled Sophomore and up Achievers are automatically registered. Students must attend CR coach sessions, and will be given ACT prep, mentorship, and tools to prepare for college. In addition, any student in Jefferson County schools may join our College Corps program.</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <!-- Card Content-->
                              <div class="card-block">
                                  <!-- Title-->
                                  <h3 class="card-title">College Readiness</h3>
                                  <!-- card text -->
                              </div>
                          </div>
            </div></div><br /><br />
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <!--Overlay Card-->
                        <!--Make fade over-->
                        <div class="view overlay hm-black-strong">
                            <!-- Card header-->
                            <img class="img-fluid" src="~/Images/SP_6.jpg" />
                            <!--Mouseover Mask Content-->
                            <div class="mask flex-center waves-effect waves-light">
                                <ul>
                                    <li>
                                        <p class="wow fadeInUp white-text">Enrollment cap: 35, first-come first-serve acceptance. Participants must attend the middle school at which the Adelante program is held and register with their parents at Registration at the beginning of each Fall semester, or may enter by referral at the beginning of Spring provided that they and their parents meet with our Executive Director, commit to participation, and sign our attendance and behavior agreements before their first day.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Card Content-->
                        <div class="card-block">
                            <!-- Title-->
                            <h3 class="card-title">After School Tutoring</h3>
                            <!-- card text -->
                        </div>
                    </div>
                </div><div class="col-md-6">
                          <div class="card">
                              <!--Overlay Card-->
                              <!--Make fade over-->
                              <div class="view overlay hm-black-strong">
                                  <!-- Card header-->
                                  <img class="img-fluid" src="~/Images/SP_1.jpg" />
                                  <!--Mouseover Mask Content-->
                                  <div class="mask flex-center waves-effect waves-light">
                                      <ul>
                                          <li>
                                              <p class="wow fadeInUp white-text">At the end of each season, junior or senior level participants with at least one year of full-time participation in our program can apply to be an Ambassador for the following season. Ambassadors must agree to the Leadership Code of Conduct Agreement, as well as participate in a Summer Ambassador’s Retreat. If at an Ambassador is failing to live up to his or her agreement, they may face revocation of their Ambassador status.</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <!-- Card Content-->
                              <div class="card-block">
                                  <!-- Title-->
                                  <h3 class="card-title">Adelante Ambassadors</h3>
                                  <!-- card text -->
                              </div>
                          </div>
            </div></div><br /><br />
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <!--Overlay Card-->
                        <!--Make fade over-->
                        <div class="view overlay hm-black-strong">
                            <!-- Card header-->
                            <img class="img-fluid" src="~/Images/Sponsor/Tjx.png" />
                            <!--Mouseover Mask Content-->
                            <div class="mask flex-center waves-effect waves-light"> 
                            </div>
                        </div>
                        <!-- Card Content-->
                        <div class="card-block">
                            <!-- Title-->
                            <h3 class="card-title">TJX/Bick Hile Scholarship Program</h3>
                            <!-- card text -->
                        </div>
                    </div>
                </div><div class="col-md-6">
                          <div class="card">
                              <!--Overlay Card-->
                              <!--Make fade over--> 
                              <div class="view overlay hm-black-strong">
                                  <!-- Card header-->
                                  <img class="img-fluid" src="~/Images/Bellarmine_Knights.png" />
                                  <!--Mouseover Mask Content-->
                                  <div class="mask flex-center waves-effect waves-light">
                                  </div>
                              </div>
                              <!-- Card Content-->
                              <div class="card-block">
                                  <!-- Title-->
                                  <h3 class="card-title">Bellarmine Academy Martes</h3>
                                  <!-- card text -->
                              </div>
                          </div>
            </div></div>
</body>

@section pageMask
{
    <div class="row">
        <div class="jumbotron text-center wow fadeIn">
            <h2 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Programs</h2>
            <p>Programs are available to  Hispanic students who attend middle or high school in Jefferson County, KY and the surrounding area. Every student will be allowed to participate in Adelante Hispanic Achievers’ programs provided that they follow the attendance and behavior code agreements outlined in our documentation below, and agree to academic and personal growth. Parents are accountable for their child’s attendance and progress.</p>
            <hr />
            <a class="btn btn-danger" href="~/Files/Behavior%20contract%20%28english%29.doc">Behavior Contract</a>
            <a class="btn btn-default" href="/Files/Behavior%20contract%20%28spanish%29.doc">Behavior Contract (Espanol)</a>
            <a class="btn btn-secondary" href="~/Files/Photo%20and%20Transportation%20Waiver.doc">Photo and Transportation Waiver</a>
        </div>
    </div>
}