@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sponsors & Partners";
}

<div class="row">
    <div class="col-md-6">
<h1>
    <b>Become a Sponsor!</b>
</h1>
<h3>Are you ready to make a difference?</h3>
<p>
    Thanks to our sponsors, Adelante is about to operate. Adelante is a 501 (c) 3 and your tax deductible donation will help provide
    135 students and families with Mentoring & Enrichment, Tutoring and Homework Help, and College Readiness.
</p>

<p><a href="~/Home/Contact">Contact us</a> today for more information!</p>
    </div>
    <div class="col-mid-6">
    <h1><b>Donate Today!</b></h1>
    <h3>Donate and help Latino youth achieve their dreams!</h3>
    <p>
        Every donation helps our Latino youth be able to fund events, start new educational projects, and
        help Adelante grow!
    </p>
    <center>
        <!--Paypal API-->
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input name="cmd" value="_s-xclick" type="hidden">
            <input name="hosted_button_id" value="PJCBKP6NDWHTL" type="hidden">
            <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" type="image" border="0">
            <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" border="0" height="1">
        </form>
    </center>
    </div>
<hr />

<hr />
<h4>Adelante proudly acknowledges these Community Partners:</h4>
<div class="col-md-6">
    <center>
        <p><a href="www.louisville.edu">University of Louisville</a></p>
        <p><a href="http://www.bellarmine.edu/">Bellarmine University</a></p>
        <p><a href="https://www.shslou.org/index.cfm">Sacred Heart Academy</a></p>
        <p><a href="http://www.saintx.com/">Saint Xavier High School</a></p>
        <p><a href="http://www.dupontmanual.com/">DuPont Manual High School</a></p>
        <p><a href="http://www.bluegrass.kctcs.edu/">Bluegrass Community and Technical College</a></p>
        <p><a href="http://www.centre.edu/">Centre College</a></p>
        <p><a href="http://www.loucol.com/page">Collegiate School</a></p>
        <p><a href="http://www.hanover.edu/">Hanover College</a></p>
        <p><a href="http://www.jefferson.k12.ky.us/">Jefferson County Public Schools</a></p>
        <p><a href="http://www.kysu.edu/">Kentucky State University</a></p>
        <p><a href="http://www.alicenter.org/Pages/default.aspx">Muhammad Ali Center</a></p>
        <p><a href="www.nku.edu">Northern Kentucky University</a></p>
        <p><a href="https://www.nshmba.org/">NSHMBA</a></p>
        <p><a href="http://www.stfrancishighschool.com/Webdraft04/pages/stfrancishighschool.htm">St. Francis High School</a></p>
        <p><a href="https://www.republicbank.com/home/personal">Republic Bank</a></p>
        <p><a href="http://www.ridetarc.org/">TARC</a></p>

    </center>
</div>
<div class="col-md-6">
    <center>
        <p><a href="http://www.adhawks.com/Home/Home-Page.aspx">Adhawks Advertising</a></p>
        <p><a href="http://aldiaenamerica.com/">Al Dia en America</a></p>
        <p><a href="http://www.americanacc.org/">Americana Community Center</a></p>
        <p><a href="http://www.bernheim.org/">Bernhein Forest</a></p>
        <p><a href="http://www.buechelchurch.org/">Buechel United Methodist Church</a></p>
        <p><a href="http://www.cnpe.org/">Center for Non-Profit Excellence</a></p>
        <p><a href="http://www.eckenandsmith.com/">Ecken & Smith Accountants</a></p>
        <p><a href="http://www.greaterlouisville.com/hlbc/">Hispanic Latino Business Council</a></p>
        <p><a href="http://hlcoflouisville.org/">Hispanic Latino Coalition</a></p>
        <p><a href="http://www.lfpl.org/branches/iroquois.htm">Iroquois Free Public Library</a></p>
        <p><a href="http://www.greaterlouisville.com/glip">G.L.I.P</a></p>
        <p><a href="http://www.ja.org/">Junior Achievement</a></p>
        <p><a href="http://www.kyyouth.org/">Kentucky Youth Advocates</a></p>
        <p><a href="http://www.lapoderosaky.com/">La Poderosa Radio</a></p>
        <p><a href="http://www.leadershiplouisville.org/">Leadership Louisville Center</a></p>
        <p><a href="http://www.losaztecas.net/">Los Aztecas</a></p>
        <p><a href="http://www.plannedparenthood.org/kentucky/index.htm">Planned Parenthood of Kentucky</a></p>

    </center>
</div>
    </div>
<center><h3><I>
    “Adelante’s intention of partnering with other institutions to gain knowledge, understanding, and strength and leverage is remarkable.”
    <br />
    -Katie Loewen, Former Director of Admissions, Sacred Heart Academy
                </I></h3></center>