@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sponsors & Partners";
}

<div class="divider-new">
    <h2 class="h2-responsive">Highlighted Sponsors</h2>
</div>
<!--First row of sponsors-->
<div class="row">
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/BBB.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">Better Business Bureau</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/CFL.png" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">Community Foundation of Louisville</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/GeneralElectric.png" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">

                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">General Electric</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
</div><br /><br />
<!--Second row of sponsors-->
<div class="row">
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/jcps.png" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">Jefferson County Public Schools</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/LouisvilleSeal.png" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">Louisville</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/McDonalds.png" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">McDonald's</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
</div><br /><br />
<!--Final row of sponsors-->
<div class="row">
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/StateFarm.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">State Farm</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/Tjx.png" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">TJX</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Sponsor/UPS.png" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
            <div class="card-block">
                <!-- Title-->
                <h3 class="card-title">UPS</h3>
                <!-- card text -->
            </div>
        </div>
    </div>
</div>
<div class="divider-new">
    <h2 class="h2-responsive">Complete list of Sponsors, 2015-2016</h2>
</div>
<div class="row">
            <div class="col-md-6">
                <h4>$15,000-18,000 Contribution</h4>
                <ul><li>Community Foundation of Louisville/James Graham Brown Foundation</li>
                <li>The Gheens Foundation</li>
                <li>UPS</li>
                <hr />
                <h4>$10,000 Contribution</h4>
                <li>TJ Maxx and TJX Companies - Scholarship Fund</li>
                <li>McDonald's</li>
                <hr />
                <h4>$5,000-$7,000</h4>
                <li>Metro Government Family Services Fund</li>
                <li>State Farm</li>
            </ul></div>
            <div class="col-md-6"><ul>
                <h4>$4,000 Contribution</h4>
                <li>The Latin American Club of Louisville</li>
                <hr />
                <h4>$2,000 Contribution</h4>
                <li>Brown Forman</li>
                <li>The Woman's Club of Louisville</li>
                <hr />
            <b>    <h4>$1,000 Contribution</h4> <b>
                <li>GE Appliances</li>
                <li>Mr. and Mrs. Roland Blahnik</li>
                <li>Dr. and Mrs. Herbert Maguire</li>
                <li>Sam Swope Family Foundation</li>
                <li>Galleria/4th Street Live</li>
                <li>$250 Contribution by the Ben Richmond Family</li>
              </ul></div>

</div>
</div>
<br />
<hr />
<div class="divider-new">
    <h2 class="h2-responsive">Our Community Partners</h2>
</div>
<div class="row">
<div class="col-md-6">
        <p><a href="http://www.louisville.edu">University of Louisville</a></p>
        <p><a href="http://www.bellarmine.edu/">Bellarmine University</a></p>
        <p><a href="https://www.shslou.org/index.cfm">Sacred Heart Academy</a></p>
        <p><a href="http://www.saintx.com/">Saint Xavier High School</a></p>
        <p><a href="http://www.dupontmanual.com/">DuPont Manual High School</a></p>
        <p><a href="http://www.bluegrass.kctcs.edu/">Bluegrass Community and Technical College</a></p>
        <p><a href="http://www.centre.edu/">Centre College</a></p>
        <p><a href="http://www.loucol.com/page">Collegiate School</a></p>
        <p><a href="http://www.hanover.edu/">Hanover College</a></p>
        <p><a href="http://www.jefferson.k12.ky.us/">Jefferson County Public Schools</a></p>
        <p><a href="http://www.kysu.edu/">Kentucky State University</a></p>
        <p><a href="http://www.alicenter.org">Muhammad Ali Center</a></p>
        <p><a href="http://www.nku.edu">Northern Kentucky University</a></p>
        <p><a href="https://www.nshmba.org/">NSHMBA</a></p>
        <p><a href="http://www.stfrancishighschool.com/Webdraft04/pages/stfrancishighschool.htm">St. Francis High School</a></p>
        <p><a href="https://www.republicbank.com/home/personal">Republic Bank</a></p>
        <p><a href="http://www.ridetarc.org/">TARC</a></p>
</div>
<div class="col-md-6">
        <p><a href="http://www.adhawks.com/Home/Home-Page.aspx">Adhawks Advertising</a></p>
        <p><a href="http://aldiaenamerica.com/">Al Dia en America</a></p>
        <p><a href="http://www.americanacc.org/">Americana Community Center</a></p>
        <p><a href="http://www.bernheim.org/">Bernhein Forest</a></p>
        <p><a href="http://www.buechelchurch.org/">Buechel United Methodist Church</a></p>
        <p><a href="http://www.cnpe.org/">Center for Non-Profit Excellence</a></p>
        <p><a href="http://www.eckenandsmith.com/">Ecken & Smith Accountants</a></p>
        <p><a href="http://www.greaterlouisville.com/hlbc/">Hispanic Latino Business Council</a></p>
        <p><a href="http://hlcoflouisville.org/">Hispanic Latino Coalition</a></p>
        <p><a href="http://www.lfpl.org/branches/iroquois.htm">Iroquois Free Public Library</a></p>
        <p><a href="http://www.greaterlouisville.com/glip">G.L.I.P</a></p>
        <p><a href="http://www.ja.org/">Junior Achievement</a></p>
        <p><a href="http://www.kyyouth.org/">Kentucky Youth Advocates</a></p>
        <p><a href="http://www.lapoderosaky.com/">La Poderosa Radio</a></p>
        <p><a href="http://www.leadershiplouisville.org/">Leadership Louisville Center</a></p>
        <p><a href="http://www.losaztecas.net/">Los Aztecas</a></p>
        <p><a href="http://www.plannedparenthood.org/kentucky/index.htm">Planned Parenthood of Kentucky</a></p>

</div></div>
<hr/>
<div class="row">
    <div class="blockquote bq-primary">
        <p class="bq-title">-Katie Loewen, Former Director of Admissions, Sacred Heart Academy</p>
        <p>“Adelante’s intention of partnering with other institutions to gain knowledge, understanding, and strength and leverage is remarkable.”</p>
    </div>
</div>


@section pageMask
{
<div class="row">
    <div class="col-md-6">
        <center>
            <h1>
                <img src="../Images/becomesponsor.png" style="height:auto; width:400px;" />
            </h1>
        </center>
        <h3>Are you ready to make a difference?</h3>
        <p>
            Thanks to our sponsors, Adelante is about to operate. Adelante is a 501 (c) 3 and your tax deductible donation will help provide
            135 students and families with Mentoring & Enrichment, Tutoring and Homework Help, and College Readiness.
        </p>

        <p><a href="~/Home/Contact">Contact us</a> today for more information!</p>
    </div>
    <div class="col-mid-6">
        <center>
            <h1>
                <img src="../Images/donate2.png" style="height:auto; width: 450px;" />
            </h1>
        </center>
        <h3>Donate and help Latino youth achieve their dreams!</h3>
        <p>
            Every donation helps our Latino youth be able to fund events, start new educational projects, and
            help Adelante grow!
        </p>
        <center>
            <!--Paypal API-->
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input name="cmd" value="_s-xclick" type="hidden">
                <input name="hosted_button_id" value="PJCBKP6NDWHTL" type="hidden">
                <input src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!" type="image" border="0">
                <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" border="0" height="1">
            </form>
        </center>
    </div>

}
