@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sponsors & Partners";
}


<center><h3><I>
    “Adelante’s intention of partnering with other institutions to gain knowledge, understanding, and strength and leverage is remarkable.”
    <br />
    -Katie Loewen, Former Director of Admissions, Sacred Heart Academy
                </I></h3></center>

<br />
    <center>

            <img src="~/Images/Programs/row3.jpg" height="350" />

        <br />
        <br />
        "Adelante appreciates Louisville Metro TARC Adventure Bus for 10 great years.We count on you 
        for the friendliest drivers, the safest ride and delivering us to our destination on time.  Tally-Ho!""
        <br />

        <center><h3>Sponsors 2015/2016</h3></center>
       
        <p>
            <br />
            <br />
            <b>
                $15,000-$18,000
            </b>
                <br />
                <br />

                Community Foundation of Louisville/James Graham Brown Foundation
                <br />

                The Gheens Foundation
                <br />

                UPS

                <br />
                <br />
                <b>    $10,000 </b>
                <br />

                TJ Maxx and TJX Companies- Scholarship Fund
                <br />
                McDonald’s
                <br />
                <br />

                    <b> $5,000-$7,000 </b>

                <br />

                Metro Government Family Services Fund

                State Farm

                <br />
                <br />

                    <b>
                        $4,000
                    </b>
                        <br />

                        The Latin American Club of Louisville

                        <br />

                        <b>
                            $2,000
                        </b>
                            <br />
                            Brown Forman

                            The Woman’s Club of Louisville

                            <br />
                            <br />
                            <b>
                                $1,000
                            </b>
                                <br />

                                GE Appliances
                                <br />

                                Mr. and Mrs. Roland Blahnik
                                <br />

                                Dr. and Mrs. Herbert Maguire
                                <br />

                                Sam Swope Family Foundation
                                <br />

                                Galleria/4th Street Live
                                <br />
                                <br />
                                <b>
                                    $500
                                </b>
                                    <br />

                                    Mr. and Mrs. Ben Voorhorst

                                    UofL  College of Education and Human Development's (CEHD) Diversity Committee
                                    <br />
                                    <br />

                                    <b>
                                        $250
                                    </b>
                                        <br />
                                        Ben Richmond Family

                                        <center><h3>Community Partners</h3></center>

<div class="row">

    <div class="col-md-4">

        <br /> Adhawks Advertising
        <br /> Al Dia en America
        <br />  Americana Community Center
        <br />  Bellarmine University
        <br /> Bernheim Forest
        <br />Bluegrass Community and Technical College
        <br />  Buechel United Methodist Church
        <br />  Center for Non-Profit Excellence
        <br />  Centre College
        <br />  Collegiate School
        <br /> Ecken & Smith Accountants
   
    </div>
        <div class="col-md-4">
            <br />  Hanover College
            <br />  Hispanic Latino Business Council
            <br />  Hispanic Latino Coalition
            <br />  Iroquois Free Public Library
            <br />   G.L.I.P.
            <br />   Jefferson County Public School System
        <br />Junior Achievement
        <br /> Kentucky State University
        <br /> Kentucky Youth Advocates
        <br /> La Poderosa Radio
        <br />  Leadership Louisville Center
        <br />Los Aztecas
    </div>
    <div class="col-md-4">
        <br /> Muhammad Ali Center
        <br /> Northern Kentucky University
        <br />  NSHMBA
        <br /> Planned Parenthood of Kentucky
        <br />Republic Bank
        <br />Sacred Heart Academy
        <br />  St. Francis High School
        <br /> St. Xavier HS
        <br />    TARC
        <br /> University of Louisville
    </div>
        </div>
<br />
<img src="~/images/new.png" height="500" />
            <br />

            <center><h3>We Love Bernheim Forest!!! </h3></center>



