@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Students & Parents";
}
<!--TODO-->
<!--Panels-->
<body>
    
        
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                </ol>


                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <center><img src="~/Images/SP_1.jpg" alt="one" style="height:300px"></center>
                    </div>

                    <div class="item">
                        <center><img src="~/Images/SP_2.jpg" alt="two" style="height:300px"></center>
                    </div>

                    <div class="item">
                        <center><img src="~/Images/SP_3.jpg" alt="three" style="height:300px"></center>
                    </div>

                    <div class="item">
                        <center><img src="~/Images/SP_4.jpg" alt="four" style="height:300px"></center>
                    </div>

                    <div class="item">
                        <center><img src="~/Images/SP_5.jpg" alt="five" style="height:300px"></center>
                    </div>

                    <div class="item">
                        <center><img src="~/Images/SP_6.jpg" alt="six" style="height:300px"></center>
                    </div>

                    <!--Left and Right Controls-->

                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
   


 
 
            
                <div class="col-md-6" align="justify">
                    <h2>Who Are Our Students?</h2>
                    <p>
                        This 2015-2016 season we saw Record Breaking enrollment! 135 great kids from middle schools and high schools throughout Greater Metro Louisville joined Adelante.
                    </p>
                </div>
                <div class="col-md-6" align="justify">
                    <h2>What Does it Take to Belong?</h2>
                    <p>
                        We welcome students of Hispanic/Latino heritage.  Students who join must commit to personal, social, academic, and cultural growth, and parents must help foster their development.  To participate in any Adelante program, parent/guardian and student must be present and register on the first day of the program.
                    </p>
                </div>
            
            <div class="row">
                <div class="col-md-12" align="justify">
                    <h2>Parent Comments</h2>
                    <p>
                        “Parents can send their kids to Adelante programs every Saturday and be confident that they are going to be more than fine.  They will have opportunities to see the real core of life, visiting places like real companies and real educational institutions that in other circumstances they wouldn't be able to visit.
                        Kids have life learning experiences by visiting places like Bernheim Forest. They learn to give their time and efforts to others with open hands. This won't happen if they go to the mall over the weekend.
                        We all share the same relocation experience that made us feel out of our comfort zone, totally out of our comfortable pots, when we just moved to Louisville.  Adelante keeps building week by week a brand new and unique pot , that gives the kids the opportunity to shine and fly with their own wings."

                        -Ana Maria Giler, Adelante Parent
                    </p>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6" align="justify">
                    <h2>College Prep</h2>
                    <p>Offered in Fall and Spring, our younger students discover their individual interests and abilities and connect with possible careers. We guide our high school students through the application process, scholarship opportunities, essays, and ACT prep.  This season we are visiting University of Louisville, Centre College, Hanover College and Northern KY University.</p>
                </div>
                <div class="col-md-6" align="justify">
                    <h2>Careers</h2>
                    <p>Dr. Fernanda Nota of the University of Louisville School of Medicine introduced students to the medical professions. Students visited the UofL campus to meet with four university professors in the fields of Anthropology,Immunology, Paleontology and Physiology and explore their laboratories. The next week students learned about Clinical Medicine by medical student Alex Marti and nurse Carolina Imhoff.</p>
                </div>

                <div class="col-md-6" align="justify">
                    <h2>Junior Achievement</h2>
                    <p>Students learned the skills required to be a successful entrepreneur and how to draw upon these skills in their own lives. Through several fun activities the students learned about the characteristics of entrepreneurs, the risks involved in starting a business, and the steps they took on the road to success!</p>
                </div>
                <div class="col-md-6" align="justify">
                    <h2>Cultural Exposure</h2>
                    <p>Mexican artist and activist Frida Kahlo appeared from the past to share with our students her glorious and difficult life. We viewed Frida’s art as a reflection of Mexican history, politics and culture.  Students were challenged to discuss her work as it related to her illness, injury and marriage to Diego Rivera. </p>
                </div>
            </div>
</body>

