@{
    // Valencia Richard


    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Student of the Month";
}


<!--
    <p>
    "La Poderosa invited Adelante to another great season celebrating student success!
    Thank you, La Poderosa! And, a special thanks to PNC for supporting this program."
    <center>
        <div class="centerimage">
            <img src="~/Images/pon.jpg" style="height:180px; width:300px;" />
        </div>
    </center>
    </p>
-->
<div class="row">
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Copy of IMG_1903.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/1.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">
                </div>
            </div>
            <!-- Card Content-->
        </div>
    </div>
    <div class="col-md-4 wow fadeIn">
        <div class="card">
            <!--Overlay Card-->
            <!--Make fade over-->
            <div class="view overlay hm-bluegrey-light">
                <!-- Card header-->
                <img class="img-fluid" src="~/Images/Copy of CIS Art Day.jpg" />
                <!--Mouseover Mask Content-->
                <div class="mask flex-center waves-effect waves-light">

                </div>
            </div>
            <!-- Card Content-->
        </div>
    </div>
</div>
<div class="divider-new">
    <h2 class="h2-responsive">Student of the Month Archives</h2>
</div>
<div class="row">
    <div class="jumbotron text-center wow fadeIn">
        <h3 class="h3-responsive wow fadeInDown" data-wow-delay="0.2s">2013-2014</h3>
        <p>
            <br /> Ivonne Gonzalez, October 2013, Sacred Heart Academy (now attending Eastern KY University)
            <br />Bryan Aviles, November 2013, JCTMS (now attending Manual HS)
            <br />James Alcantara, December 2013, Shelby County HS (now attending UofL Speed School -Engineering
            <br />Susie Rivas, January 2014, Highland MS (now attending Male HS)
        </p>
</div>
    <div class="jumbotron text-center wow fadeIn">
        <h3 class="h3-responsive wow fadeInDown" data-wow-delay="0.2s">2012-2013</h3>
        <p>
        <br /> Lisa Quiroga, October 2012, Sacred Heart Academy

        <br /> Karen Luis, November 2012, Myers MS

        <br /> Santiago Marini, December 2012, Ballard HS (now attending University of Kentucky)

        <br /> Jennifer Ruiz, January 2013, Johnston MS

        <p/>
</div>
    <div class="jumbotron text-center wow fadeIn">
        <h3 class="h3-responsive wow fadeInDown" data-wow-delay="0.2s">2011-2012</h3>
        <p>
            <br /> Maria Cleto, Thomas Jefferson MS

            <br /> Brandon Esparza, Ballard HS

            <br />  Andrea Brito, Myers MS (now attending St. Francis)

            <br /> Bianca Menendez, DuPont Manual HS (now attending University of Louisville)

            <br /> Stephanie Alcantara, Ballard HS (now attending University of Virginia)

            <br /> Luis Garcia, Myers MS (now attending Seneca HS)

            <br />   Ruby Delgado, Myers MS (now attending Southern HS)

            <br />     Broderick Patino, Barret MS (now attending Male HS)

        </p>
        </div>
    <div class="jumbotron text-center wow fadeIn">
        <h3 class="h3-responsive wow fadeInDown" data-wow-delay="0.2s">2010-2011</h3>
<p>
        <br />Nayely Sanchez,  DuPont Manual HS (now attending Bellarmine University)

        <br />Christopher Padilla, DeSales HS (now attending University of Kentucky)

        <br />Jonathan Arvizu-Mendoza, Thomas Jefferson MS

        <br />Juan Rivas, Olmsted Academy North

        <br />Maria Bowles Gutierrez, DuPont Manual HS (now attending University of Louisville)

        <br />Veronica Vega, Thomas Jefferson MS (now attending Atherton HS)

        <br />Edgar Menendez, DuPont Manual HS (now attending UofL Speed School-Engineering)

        <br />Stephanie Del Toro, Sacred Heart Academy (now attending JCTC)"
        </p>
    </div>
</div>
@section PageMask{
    <div class="row">
    <div class="jumbotron text-center wow fadeIn">
        <h2 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Student of the Month</h2>
        <p class="wow fadeInDownBig">Adelante generally selects one student each month for outstanding achievement. We feel that recognizing students for their successes is vital to helping them grow.</p>
        <hr />
    </div>

</div>

}