@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thank You";
}


@section pageMask
{
    <div class="row">
        <div class="jumbotron text-center wow fadeIn">
            <h2 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Thank You!</h2>
            <p class="wow fadeInDownBig">Your E-mail has been sent and we will get back to you as soon as we can!</p>
            <hr />
            <a href="../../" class="btn btn-success btn-lg wow fadeInLeft" data-wow-delay="0.2s">Return Home</a>
        </div>
    </div>
}