body {
    padding-top: 0px;
    padding-bottom: -3px;
    background-color: #E0DECF;
    font-family: "Lato Medium";
    color: #24161B; 
}
/*Declare font faces*/
@font-face {
    font-family: "Lato Medium";
    src: url("../fonts//Lato-Medium.ttf");
}

/* Side Panel CSS*/
.panel{
    background-color: #FAFAF0;
    margin-top: 6px;
    margin-bottom:6px;
    padding: 5px;
    border-radius: 6px;
}

.side-panel{
    min-width: 340px; /* Widths set with px so the FB pane fits*/
    max-width: 540px;
}

.panel p, h1, h2, h3, h4, h5, h6{
    text-align:center;
}


/*Align fb Page, needs centering/resizing*/
.fb-page{
    margin-left: 2%;
    min-width: 180px;
    max-width:500px;
    margin-top: 2%;
    border-radius:6px;
}


/*Tweak the jumbotron to use the light stone color for example purposes*/
.jumbotron {
    background-color: #FAFAF0;
    margin-top: 10px;
    border-radius: 6px;
}

/*Container replacement class to allow better use of whitespace.*/
.container-fluid{
    max-width: 85%;
    padding-left: 10%;
}

/*Implement the footer to span the entire container it's housed in, and include background color*/
footer {
    width:100%;
    font-size: 8pt;
    line-height: 95%;
    background-color: #FAFAF0;
    overflow:hidden;
}

/*Alternate method of doing footer comments that works better with mobile devices
    use either footercolumn classes above, or col-md-4*/
.col-md-4{
    padding-top:5px;
}

.col-md-4 collapse{

}

.row{
    padding: 5px;
}
/*Change Thematic break line color*/
hr {
    background-color: #89785E;
    color: #89785E;
    border: none;
    height: 5px;
    margin-bottom:0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Override default boostrap navbar behavior and formatting*/

.navbar .nav > li > a { /*Change navbar text color*/
    color: #E0DECF;
}
.navbar-inverse {
    min-height:50px; 
    background-color: #24161B;
    color: #ffffff;
}

.navbar-brand {
    background: url('../Images/New Adelantelogo2015 smaller copy.png') no-repeat;
    background-size: 165px, 60px;
    background-position: center;
    vertical-align: middle;
    width: 200px;
    font-size: 0px;
    
}

.header-link li {
    font-size: 17px;
}

.navbar-header {
    width: 100%;
}

.scheduler_container {
    width: 100%;
    height: 600px;
    border: 1px solid #aeaeae;
    
}