@{
    Layout = "~/Views/Shared/_UserPortalLayout.cshtml";
}


@using (Html.BeginForm())
{
    <legend>Programs</legend>
    <div class="editor-field">@Html.DropDownList("Programs", "--Select One--")</div>
    @Html.ActionLink("Enroll Student","EnrollStudent")
    <input type="submit" name="Enroll_Student" value="Enroll Student" />
    <input type="submit" name="Take_Attendance" value="Take Attendance" />
}



@using (Html.BeginForm())
{
    <legend>Events</legend>
    <div class="editor-field">@Html.DropDownList("Events", "--Select One--")</div>
    <input type="submit" name="TakeEventAttendance" value="Take Attendance" />
}