@{
    ViewBag.Title = "User Portal";
    Layout = "~/Views/Shared/_UserPortalLayout.cshtml";
}

<!--Header/Breadcrumb-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Calendar Management
            <small>Create Event</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-fw fa-dashboard"></i> <a href="@Url.Action("Index", "UserPortal")"> Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-fw fa-table"></i> Calendar
            </li> 
            <li class="active">
                <i class="fa fa-fw fa-edit"></i> Create Event
            </li> 
         </ol>
    </div>
</div>
<!--Body-->
    <p>Text</p>
